
@media screen and (min-width: 360px){
header{
  margin-left: 150px;
  margin-top: 20px;

  font-size: 34px;

}
}

@media screen and (min-width: 425px){
header{
  margin-left: 200px;
  margin-top: 20px;

  font-size: 34px;

}
}

}
@media screen and (min-width: 768px){
header{
  margin-left: 200px;
  margin-top: 20px;
  font-size: 34px;

}
}

@media screen and (min-width: 1200px){
header{
  margin-left: 200px;
  margin-top: 20px;

  font-size: 34px;

}
}
